html, form, h1, hr{
    margin:10px;
    padding:10px;
}
.addmain{
    display:inline-block;
    text-align:center;
    width: 80%;
}

span{
    color:red;
}
form{
    width:100%;
}
button{
    margin:15px 20px;
}