<div class="main">
    <h1>Reviews for {{movie?.title}}</h1>
    <button class="btn btn-danger" (click)="deleteMovie()">Delete Movie</button>
    <button class="btn btn-secondary" [routerLink]="['review']">Add a new review!</button>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Reviewer</th>
                <th>Stars</th>
                <th>Reviews</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let review of movie?.reviews">
                <td>{{review?.name}}</td>
                <td>{{review?.stars}}</td>
                <td>{{review?.review_message}}</td>
                <td><button (click)="deleteReview(review._id)"class="btn btn-danger">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>